.header {
  background-color: lightsteelblue;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  height: 80px;
}
.header a {
  text-decoration: none;
  color: black;
}
.header a:hover {
  color: rgb(245, 243, 240);
  font-size: 17px;
}
/* product */
.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 10px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.product {
  height: 508px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}
.product-info {
  padding: 8px;
}
.cart-button {
  width: 100%;
  border: none;
  background-color: burlywood;
  position: absolute;
  bottom: 0;
}
.cart-button:hover {
  background-color: orange;
}
